body{
    background-color: black;
    margin: 0;
}
.main{
    background-color: white;
    height: 800px;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;   
}
.top{
    margin: 30px auto;
    border: solid;
    border-width: 5px;
    border-color: black;
    height: 25%;
    width: 90%;

}
.blue{
    background: royalblue;
    height: 65%;
    width: 50px;
    margin: 55px 55px 15px 15px
    
}
.green{
    width: 40%;
    height: 165px;
    background-color: #bada55;
    position: absolute;
    top: 125px;
    left: 150px;

}
.circle{
    height: 175px;
    width: 175px;
    background: lightblue;
    border-radius: 50%;
    position: absolute;
    right: 250px;
    top: 120px;
}

.middle{
    border: dotted;
    height: 30%;
    width: 90%;
    margin: 15px auto;
    border-width: 5px;
}
.box{
    width: 85%;
    height: 85%;
    background-color: lightyellow;
    margin: auto;
    margin-top: 2%;
    box-shadow: 10px 10px;
}
.bottom{
    height: 30%;
    width: 50%;
    margin: 0 auto;
    box-shadow: 5px 5px;
    border: solid;
    border-width: 1px;
    border-color: gray;
    color: gray
}
h2{
    text-align: center;
    margin-top: 20%;
    display: flexbox;
}
