body{
    margin: 0;
}
.header{
    height: 15%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: black;
    margin-left: 0;
}
.leftbox{
    width: 15%;
    height: 85%;
    position: absolute;
    bottom: 0px;
    background-color: lightgray;
    
}
.rightbox{
    background-color: lightgray;
    height: 85%;
    width: 15%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.footer{
    background-color: black;
    text-align: center;
    height: 7%;
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 15%;
}